{% extends 'base.html.twig' %}

{% block body %}
    <h1>Error 404</h1>

    <p>
        El recurso que estás buscando no puede ser encontrada. Tal vez te equivocaste al escribir el URL.
    </p>
{% endblock %}