{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Error {{ status_code }}</h1>

    <p>
        Ha ocurrido un error inesperado, si este error vuelve a aparecer, te recomendamos contactarte con el administrador del sistema.
    </p>
    <p>
        {{ status_text }}
    </p>
{% endblock %}