{% extends "@FOSUser/layout_simple.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock fos_user_content %}

{% block guide %}
<li class="tlypageguide_bottom" data-tourtarget="#guide_regresar">
    <div>
    Redirecciona al perfil del usuario.
    </div>
</li>
    <li class="tlypageguide_left" data-tourtarget="#guide_guardar">
        <div>
        Actualiza el perfil del usuario con los datos que han sido introducidos en los recuadros de arriba.
        </div>
    </li>
{% endblock %}