{% trans_default_domain 'FOSUserBundle' %}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-2">
                <a id="guide_regresar" href="{{path('fos_user_profile_show')}}" class="btn btn-secondary">Regresar</a>
            </div>
            <div class="col-8 text-center">
                <h1>Editar perfil</h1>
            </div>
        </div>
    </div>
    <div class="card-body">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.nombre, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.aPaterno, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.aMaterno, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                <button id="guide_guardar" class="btn btn-primary" type="submit">Guardar</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>