{% extends "@FOSUser/layout_simple.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock fos_user_content %}

{% block guide %}
<li class="tlypageguide_left" data-tourtarget="#guide_editar_perfil">
    <div>
    En esta opción se muestra un formulario que permite cambiar el nombre y apellidos del usuario.
    </div>
</li>
<li class="tlypageguide_right" data-tourtarget="#guide_cambiar">
    <div>
    En esta opción se muestra un formulario que permite cambiar la contraseña utilizada para entrar al sistema.
    </div>
</li>
{% endblock %}