<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Asesorías FC{% endblock %}</title>
        {% block stylesheets %}
            {#<link rel="stylesheet" type="text/css" href="{{ asset('resources/css/bootstrap.css') }}">#}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/toast.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/app.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('resources/fontawesome/css/fontawesome-all.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('resources/pageguide/dist/css/pageguide.min.css') }}">

            <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/datepicker/bootstrap-datepicker3.standalone.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('resources/img/logo_uabc.png') }}" />
    </head>
    <body>
        {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #027f45;">
            <a class="navbar-brand" href="{{ path('homepage') }}" id="guide_home">Asesorías FC</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a id="guide_perfil" href="{{ path('fos_user_profile_show') }}" class="nav-link">Perfil</a>
                    </li>

                    <li class="nav-item"><a id="guide_solicitudes" class="nav-link" href="{{ path('solicitudes') }}">Solicitudes</a></li>

                    <li class="nav-item"><a id="guide_citas" class="nav-link" href="{{ path('citas') }}">
                    Citas
                    </a></li>

                    <li class="nav-item"><a id="guide_historial" class="nav-link" href="{{ path('cita_historial') }}">
                    Historial de citas
                    </a></li>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="nav-item"><a id="guide_administradores" class="nav-link" href="{{ path('administradores') }}">Administradores</a></li>
                    {% endif %}
                    
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item"><a id="guide_asesores" class="nav-link" href="{{ path('admin_home') }}">Asesores</a></li>
                    {% endif %}
                    
                    <li class="nav-item">
                        <a class="nav-link" id="guide_cerrar_sesion" href="{{ path('fos_user_security_logout') }}">{{"Cerrar Sesión"}}</a>
                    </li>
                </ul>

                <span class="navbar-text">{% if is_granted('ROLE_SUPER_ADMIN') %}Super Administrador{% elseif is_granted('ROLE_ADMIN') %}Administrador{% elseif is_granted('ROLE_ASESOR') %}Asesor{% else %}Alumno{% endif %}</span>
            </div>
        </nav>
        {% endblock %}
        
        <div class="myGuide" id="btn_guia">Guía<span></span></div>
        <div class="container mt-3 mb-5">
            <div class="row">
                <div class="col">
                    {% if app.session.flashbag.peekAll()|length > 0 %}
                        {% for tipo, flashes in app.flashes() %}
                            {% for flash in flashes %}
                                <div class="alert alert-{{tipo}} alert-dismissible fade show" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ flash }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% block body %}{% endblock %}
            
            {% block extraguide %}
            <ul id="tlyPageGuide" data-tourtitle="Guía">
                <li class="tlypageguide_bottom" data-tourtarget="#guide_home">
                    <div>
                    Página principal.
                    </div>
                </li>

                <li class="tlypageguide_bottom" data-tourtarget="#guide_perfil">
                    <div>
                    Perfil del usuario. Aquí se puede editar el nombre y apellidos, también se puede cambiar la contraseña.
                    </div>
                </li>

                <li class="tlypageguide_bottom" data-tourtarget="#guide_solicitudes">
                    <div>
                    {% if not is_granted("ROLE_ALUMNO") %}
                    Lista de citas pendientes que los alumnos han hecho en el sistema.
                    {% else %}
                    Solicitudes que el alumno ha hecho y que aún no han sido aceptadas por un asesor.
                    {% endif %}
                    </div>
                </li>

                <li class="tlypageguide_bottom" data-tourtarget="#guide_citas">
                    <div>
                    Lista de citas para asesoría que han sido aceptadas.
                    </div>
                </li>

                <li class="tlypageguide_bottom" data-tourtarget="#guide_historial">
                    <div>
                    Lista de citas que el usuario ha realizado mediante el sistema.
                    </div>
                </li>

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="tlypageguide_bottom" data-tourtarget="#guide_administradores">
                    <div>
                    Lista de administradores registrados en el sistema.
                    </div>
                </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                <li class="tlypageguide_bottom" data-tourtarget="#guide_asesores">
                    <div>
                    Lista de asesores que el usuario actual tiene registrados.
                    </div>
                </li>
                {% endif %}

                
                
                <li class="tlypageguide_bottom" data-tourtarget="#guide_cerrar_sesion">
                    <div>
                    Cierra la sesión del usuario de tal manera que ya no es posible entrar al sistema hasta que se vuelva a iniciar sesión.
                    </div>
                </li>
                {% block guide %}{% endblock %}
            </ul>
            {% endblock %}

        </div>

        <footer class="footer border-top bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-6 text-left">
                        <span class="navbar-text">Soporte: Gloria Elena Rubi Vazquez.</span>
                    </div>
                    <div class="col-6 text-right">
                        <span class="navbar-text">Hecho por Rafael Peralta Blanco y asociados. 2018</span>
                    </div>
                </div>
            </div>
        </footer>
        

        {% block javascripts %}
            <script src="{{ asset('resources/js/jquery-3.2.1.min.js') }}"></script>
            {#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> #}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{{ asset('resources/js/bootstrap.js') }}"></script>
            <script type="text/javascript" src="{{ asset('resources/js/toast.js') }}"></script>
            <script type="text/javascript" src="{{ asset('resources/pageguide/dist/js/pageguide.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('resources/js/datepicker/bootstrap-datepicker.js') }}"></script>
            <script type="text/javascript" src="{{ asset('resources/js/datepicker/bootstrap-datepicker.es.min.js') }}"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    tl.pg.init({
                        pg_caption: '',
                        custom_open_button: '#btn_guia'
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
