{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h3>Perfil</h3>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}