{% extends 'base.html.twig' %}

{% block body %}
     
    <div class="row text-center">
        <div class="card col-12">
            <div class="card-header">
                <button id="guide_agregar" class="btn btn-success float-right" data-toggle="modal" data-target="#agregarModal">
                    Agregar
                </button>
                <h1>Administradores</h1>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Asesores</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for administrador in administradores %}
                            <tr>
                                <td>{{ administrador.nombre }}</td>
                                <td>{{ administrador.apaterno }}</td>
                                <td>{{ administrador.amaterno }}</td>
                                <td><a href="{{ path('look_admin', {'id': administrador.id}) }}" class="btn btn-primary guide_ver">Ver</a></td>
                                <td><button id="guide_eliminar" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#eAdministrador{{administrador.id}}"><i class="fas fa-trash-alt"></i></button></td>
                            </tr>

                            <div class="modal fade" id="eAdministrador{{administrador.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">¿Desea eleminar a este administrador?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-danger"> 
                                                {{ administrador.nombre }} {{ administrador.aPaterno }} {{ administrador.aMaterno }} <br/>
                                                Una vez realizada esta acción no se podrá deshacer.
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                                            <a href="{{ path('delete_admin', {'id': administrador.id }) }}" class="btn btn-danger btn-sm">Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="agregarModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Enviar formulario de registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="contenidoModal">
                    {{ form_start(form) }}
                    <div class="form-group">
                        
                        {{ form_label(form.correo) }}
                        <div class="input-group">
                            {{ form_widget(form.correo, {'attr': {'class': 'form-control'}}) }}
                            <div class="input-group-append">
                                <span class="input-group-text">@uabc.edu.mx</span>
                            </div>
                        </div>
                        {{ form_errors(form.correo) }}
                        
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block guide %}
<li class="tlypageguide_right" data-tourtarget="#guide_agregar">
    <div>
    Despliega un formulario para agregar un nuevo administrador al sistema. Los administradores del sistema solamente pueden registrarse de esta forma.
    </div>
</li>
<li class="tlypageguide_right" data-tourtarget=".guide_ver">
    <div>
    Muestra la lista de asesores que tiene el administrador correspondiente a la fila.
    </div>
</li>
<li class="tlypageguide_right" data-tourtarget="#guide_eliminar">
    <div>
    Quita los permisos de administrador al usuario correspondiente a la fila, también le quita los permisos de asesor a los alumnos que el administrador tenga registrados como asesores.
    </div>
</li>
{% endblock %}