{% extends 'base.html.twig' %}

{% block body %}
     
    <div class="row text-center">
        <div class="card col-12">
            <div class="card-header">
                <h1>Administradores</h1>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Asesores</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for administrador in administradores %}
                            <tr>
                                <td>{{ administrador.nombre }}</td>
                                <td>{{ administrador.apaterno }}</td>
                                <td>{{ administrador.amaterno }}</td>
                                <td><a href="{{ path('look_admin', {'id': administrador.id}) }}" class="btn btn-primary">Ver</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}