{% extends 'base.html.twig' %}

{% block body %}
	<div class="row text-center">
	    <div class="card col">
	    	<div class="card-header">
	    	    <h1>HISTORIAL</h1>
	    	</div>
			<div class="card-body">
				<div class="row pb-2">
					<div class="col text-left">
						<h5><strong>Asesor:</strong> {{ asesor.user.nombre ~ ' ' ~ asesor.user.aMaterno ~ ' ' ~ asesor.user.aPaterno }}</h5>
						<h5><strong>Correo:</strong> {{ asesor.user.email }}</h5>
					</div>
				</div>
				{% if citas|length > 0 %}
					<table class="table table-bordered table-striped">
						<thead>
					    	<tr>
					    		<th>ID</th>
					      		<th>Tema(s)</th>
								<th>Materia</th>
								<th>Cantidad</th>
								<th>Alumno</th>
								<th>Detalles</th>
					    	</tr>
					  	</thead>
						<tbody>
							{% set i = 0 %}
							{% for cita in citas|reverse %}
								<tr>
									<td>{{ cita.id }}</td>
									<td>{{ cita.tema }}</td>
									<td>{{ cita.materia }}</td>
									<td>{{ cita.cantidad }}</td>
									<td>{{ nombres[i] }}</td>
									<td><button id="guide_detalles" class="btn btn-secondary" data-toggle="modal" data-target="{{'#detallesModal' ~ cita.id }}" data-aceptar="1">Ver</button></td>
								</tr>
								{% set i = i + 1 %}
							{% endfor %}
					  	</tbody>
					</table>
				{% else %}
					<div class="row">
						<div class="col">
							<div class="alert alert-danger">
								<p class="lead">El historial del asesor se encuentra {{"vacío"}}, no cuenta con ninguna cita. <br/>
								Para volver haga click <a href="{{ path("admin_home") }}">{{"aquí"}}</a></p>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	{% for cita in citas %}
        {% include "/cita/detalles.html.twig" with {'cita': cita} %}
    {% endfor %}
{% endblock %}

{% block guide %}
<li class="tlypageguide_right" data-tourtarget="#guide_detalles">
    <div>
    Muestra los detalles de la asesoría así como la fecha en que se realizó.
    </div>
</li>
{% endblock %}