{% extends 'base.html.twig' %}

{% block body %}	
	<div class="row text-center">
	    <div class="card col-12">
	    	<div class="card-header">
				
				<div class="row">
					<div class="col-2">
						{% if admin != null and admin.id != app.user.id %}
		    			<a class="float-left btn btn-secondary" href="{{ path('administradores') }}">Regresar</a>
		    			{% endif %}
					</div>
					
					<div class="col-8">
		    	    	<h1>ASESORES</h1>
					</div>
					
					<div class="col-2"></div>

				</div>

				<div class="row text-center">
					<div class="col-12">
			    	    {% if admin != null %}
			    	    <h3>{{ admin.nombre ~ " " ~ admin.aPaterno ~ " " ~ admin.aMaterno }}</h3>
			    	    {% endif %}
					</div>
				</div>
	    	</div>
			<div class="card-body">
				{% if admin == null or admin.id == app.user.id %}
				<div class="row pb-2">
					<div class="col">
						<button id="guide_agregar" type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#aAsesor">Agregar asesor</button>
					</div>
				</div>
				{% endif %}
				<table class="table table-bordered table-striped">
					<thead>
				    	<tr>
				      		{#<th>Matrícula</th>#}
							<th>Nombre</th>
							<th>Apellido Paterno</th>
							<th>Apellido Materno</th>
							<th>Perfil</th>
							{% if admin == null or admin.id == app.user.id %}
							<th>Eliminar</th>
							{% endif %}
				    	</tr>
				  	</thead>
					<tbody>
						{% for asesor in asesores %}
							<tr>
								{# <td>{{ asesor.matricula }}</td> #}
								<td>{{ asesor.user.nombre }}</td>
								<td>{{ asesor.user.aPaterno }}</td>
								<td>{{ asesor.user.aMaterno }}</td>
								<td><a id="guide_perfil_asesor" href="{{ path('admin_asesor', {'correo': asesor.user.username }) }}" class="btn btn-primary">Perfil</a></td>

								{% if admin == null or admin.id == app.user.id %}
								<td class="col col-sm-1 text-center">
									<button id="guide_eliminar" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#eAsesor{{asesor.id}}"><i class="fas fa-trash-alt"></i></button>
								</td>
								{% endif %}
							</tr>
							{# INICIO MODAL ELIMINAR #}
							<div class="modal fade" id="eAsesor{{asesor.id}}" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">¿Desea eleminar a este asesor?</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="alert alert-danger"> 
												{{ asesor.user.nombre }} {{ asesor.user.aPaterno }} {{ asesor.user.aMaterno }} <br/>
												Una vez realizada esta acción no se podrá deshacer.
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
											<a href="{{ path('admin_remove', {'id': asesor.id }) }}" class="btn btn-danger btn-sm">Eliminar</a>
										</div>
									</div>
								</div>
							</div>
							{# FIN MODAL #}
						{% endfor %}
				  	</tbody>
				</table>
			</div>
		</div>
	</div>
	{# INICIO MODAL AGREGAR #}
	<form action="{{ path('admin_add') }}" method="post">
		<div class="modal fade " id="aAsesor" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Agregar un nuevo asesor</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="correo">Correo del asesor</label>
							<div class="input-group">
								<input class="form-control" type="text" required="required" id="correo" name="correo">
								<div class="input-group-append">
						            <span class="input-group-text">@uabc.edu.mx</span>
						        </div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-success btn-sm">Agregar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	{# FIN MODAL #}
{% endblock %}

{% block guide %}
<li class="tlypageguide_left" data-tourtarget="#guide_agregar">
  <div>
    Agrega un nuevo asesor a la lista de asesores. Al hacer click se mostrará un recuadro en el que se solicitará el correo del alumno al que se quiere hacer asesor.
  </div>
</li>
<li class="tlypageguide_left" data-tourtarget="#guide_perfil_asesor">
  <div>
    Se mostrará el perfil del alumno y las asesorías que él ha realizado.
  </div>
</li>
<li class="tlypageguide_left" data-tourtarget="#guide_eliminar">
  <div>
    Elimina al alumno de la lista de asesores.
  </div>
</li>
{% endblock %}