{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			HOME
			<div class="col-6">Hola </div>
	        <div class="col-4">Hi there</div>
	        <div class="col-2">Hello</div>
		</div>
	</div>
{% endblock %}