{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}

{% block body %}
    <h1>Registro de Administrador</h1>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.nombre, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">{{ form_row(form.aPaterno, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">{{ form_row(form.aMaterno, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">{{ form_row(form.password.first, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">{{ form_row(form.password.second, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">
        <button id="guide_registrarse" class="btn btn-primary" type="submit">Registrarse</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block guide %}
<ul id="tlyPageGuide" data-tourtitle="Guía">
    <li class="tlypageguide_left" data-tourtarget="#appbundle_user_password_first">
        <div>
        Contraseña para entrar al sistema de Asesorías FC, no es la misma utilizada para entrar al correo institucional, te recomendamos utilizar una diferente, mas no es un requerimiento.
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget="#appbundle_user_password_second">
        <div>
        Repita la contraseña escrita en el recuadro anterior. Esto sirve para confirmar la contraseña que escribió anteriormente.
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget="#guide_registrarse">
        <div>
        Al presionar este botón usted podrá entrar al sistema con su correo institucional.
        </div>
    </li>
</ul>
{% endblock %}