{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="card">
        <div class="card-header">
            Te hemos enviado un mensaje a {{user.email}}, revisalo para poder terminar con el registro.
            (Probablemente se encuentre en la bandeja de SPAM)
        </div>
    </div>
{% endblock fos_user_content %}
