{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="row">
    <div class="col-10 offset-1">
        <div class="card">
            <div class="card-header">Tu correo ha sido confirmado</div>
            <div class="card-body">
                Bienvenido. <a href="{{ url('homepage') }}">Página principal</a>
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}