{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {#{% if targetUrl %}
    
    {% endif %}#}
    <p><a href="{{ url('homepage') }}">{{ 'registration.back'|trans }}</a></p>
{% endblock fos_user_content %}