{% trans_default_domain 'FOSUserBundle' %}

<h1 class="text-center" id="guide_registro">Registro Alumno</h1>



{{ form_start(form) }}

<div class="form-group" id="guide_nombre">
    {{ form_row(form.nombre) }}
</div>
<div class="form-group" id="guide_aPaterno">
    {{ form_row(form.aPaterno) }}
</div>
<div class="form-group" id="guide_aMaterno">
    {{ form_row(form.aMaterno) }}
</div>
<div class="form-group" id="guide_matricula">
    {{ form_row(form.matricula) }}
</div>

<div class="form-group" id="guide_username">
    {{ form_label(form.username) }}
    <div class="input-group">
        {{ form_widget(form.username) }}
        <div class="input-group-append">
            <span class="input-group-text">@uabc.edu.mx</span>
        </div>
    </div>
    {{ form_errors(form.username) }}
</div>

<div class="form-group" id="guide_password">
    {{ form_label(form.password.first) }}
    {{ form_widget(form.password.first) }}
    {{ form_errors(form.password.first) }}
</div>

<div class="form-group" id="guide_password2">
    {{ form_label(form.password.second) }}
    {{ form_widget(form.password.second) }}
</div>

<div class="d-flex justify-content-between">
    <a id="guide_regresar" class="btn btn-secondary" href="{{ path('fos_user_security_login') }}">Regresar</a>
    <input id="guide_registrarse" class="btn btn-primary"type="submit" value="{{ 'Registrarse'|trans }}" />
</div>

{{ form_end(form) }}
