{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class="row">
    <div class="col-6 offset-3">
        {% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
</div>
{% endblock fos_user_content %}

{% block guide %}
<ul id="tlyPageGuide" data-tourtitle="Guía">
    <li class="tlypageguide_left" data-tourtarget="#guide_registro">
        <div>
        En esta sección se muestra un formulario de registro para alumnos.
        Si eres un maestro es necesario solicitar el registro con el administrador del sistema. 
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget="#guide_nombre">
        <div>
        Nombre del alumno. 
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget="#guide_aPaterno">
        <div>
        Apellido paterno del alumno. 
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget="#guide_aMaterno">
        <div>
        Apellido materno del alumno. 
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget="#guide_matricula">
        <div>
        Matrícula del alumno. Procura no equivocarte, pues no es un sistema oficial de la UABC. Sino un sistema hecho para la Facultad de Ciencias. 
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget="#guide_username">
        <div>
        Correo institucional que servirá para entrar al sistema. Al ser el correo institucional se envitará que gente externa a la UABC entre al sistema.
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget="#guide_password">
        <div>
        Contraseña para entrar al sistema de Asesorías FC, no es la misma utilizada para entrar al correo institucional, te recomendamos utilizar una diferente, mas no es un requerimiento.
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget="#guide_password2">
        <div>
        Repita la contraseña escrita en el recuadro anterior. Esto sirve para confirmar la contraseña que escribió anteriormente.
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget="#guide_regresar">
        <div>
        Redirige a la página de iniciar sesión.
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget="#guide_registrarse">
        <div>
        Al presionar este botón se enviará un mensaje al correo escrito en el recuadro correspondiente. Para terminar el registro, usted tendrá que entrar a la liga que se le propocionará en el mensaje.
        </div>
    </li>
</ul>
{% endblock %}