{% trans_default_domain 'FOSUserBundle' %}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-2">
                <a id="guide_regresar" href="{{path('fos_user_profile_show')}}" class="btn btn-secondary">Regresar</a>
            </div>
            <div class="col-8 text-center">
                <h1 id="guide_cambiar">Cambiar contraseña</h1>
            </div>
        </div>
    </div>
    <div class="card-body">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'form' } }) }}
            <div class="form-group">
                {{ form_row(form.current_password, {'label': 'Contraseña actual', 'attr': {'class': 'form-control'}})}}
            </div>

            <div class="form-group">
                {{ form_row(form.plainPassword.first, {'label': 'Nueva contraseña', 'attr': {'class': 'form-control'}})}}
            </div>

            <div class="form-group">
                {{ form_row(form.plainPassword.second, {'label': 'Repita la contraseña', 'attr': {'class': 'form-control'}})}}
            </div>

            <div>
                <input id="guide_guardar" class="btn btn-primary" type="submit" value="Cambiar" />
            </div>
        {{ form_end(form) }}
    </div>
</div>