{% extends "@FOSUser/layout_simple.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}

{% block guide %}
<li class="tlypageguide_right" data-tourtarget="#guide_cambiar">
    <div>
    En esta sección podrás cambiar la contraseña correspondiente al usuario actual.
    </div>
</li>
<li class="tlypageguide_bottom" data-tourtarget="#guide_regresar">
    <div>
    Redirecciona al perfil del usuario.
    </div>
</li>
<li class="tlypageguide_right" data-tourtarget="#guide_guardar">
    <div>
    Actualiza la contraseña del usuario con la contraseña escrita en el recuadro de nueva contraseña.
    </div>
</li>
{% endblock %}