{% extends "base.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('resources/css/tabla.css') }}">
{% endblock %}

{% block body %}
<div class="row text-center mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h1>Citas Pendientes</h1>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead>
            <th class="col-4">Materia</th>
            <th class="col-4">Tema</th>
            {% if is_granted('ROLE_ALUMNO') %}
            <th class="col-3">Asesor</th>
            {% else %}
            <th class="col-3">Alumno</th>
            {% endif %}
            <th class="col-1">Detalles</th>
          </thead>
          <tbody>    
            {% for cita in citas %}
            {% if cita.estado == 1 %}
            <tr>
              <td>{{ cita.materia }}</td>
              <td>{{ cita.tema }}</td>
              {% if is_granted('ROLE_ALUMNO') %}
              <td>{{ cita.asesor.user.nombre ~ " " ~ cita.asesor.user.aPaterno ~ " " ~ cita.asesor.user.aMaterno }}</td>
              {% else %}
              <td>{{ cita.alumno.user.nombre ~ " " ~ cita.alumno.user.aPaterno ~ " " ~ cita.alumno.user.aMaterno }}</td>
              {% endif %}
              <td>
                <button id="guide_detalles" class="btn btn-secondary" data-toggle="modal" data-target="{{'#detallesModal' ~ cita.id }}" data-aceptar="0">Ver</button>
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% for cita in citas %}
    {% include "/cita/detalles.html.twig" with {'cita': cita} %}
{% endfor %}

{% endblock %}

{% block guide %}
<li class="tlypageguide_left" data-tourtarget="#guide_detalles">
  <div>
    Muestra los detalles de la cita así como la fecha y hora en que se impartirá la asesoría.
  </div>
</li>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('resources/js/citas/lista.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/js/citas/detalles.js') }}"></script>
{% endblock %}