{% set dias = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes"] %}

<!-- Modal -->
<div class="modal fade" id="{{'detallesModal' ~ cita.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="{{ 'materia' ~ cita.id }}">Materia</label>
                    <input class="form-control" id="{{'materia' ~ cita.id }}" type="text" value="{{ cita.materia }}" readonly>
                </div>
                <div class="form-group">
                    <label for="{{ 'tema' ~ cita.id }}">Tema</label>
                    <input class="form-control" id="{{'tema' ~ cita.id }}" type="text" value="{{ cita.tema }}" readonly>
                </div>
                <div class="form-group">
                    <label for="{{ 'cantidad' ~ cita.id }}">Cantidad de Alumnos</label>
                    <input id="{{'cantidad' ~ cita.id }}" class="form-control" type="text" value="{{ cita.cantidad }}" readonly>
                </div>

                {% if is_granted('ROLE_ASESOR') %}
                    <div class="form-group">
                        <label for="{{ 'asesor' ~ cita.id }}">Alumno</label>
                        <input id="{{'asesor' ~ cita.id }}" class="form-control" value="{{ cita.alumno.user.nombre ~ ' ' ~ cita.alumno.user.aPaterno ~ ' ' ~ cita.alumno.user.aMaterno }}" type="text" readonly>
                    </div>

                    <div class="form-group">
                        <label for="{{ 'correo' ~ cita.id }}">Correo del Alumno</label>
                        <input id="{{'correo' ~ cita.id }}" class="form-control" value="{{ cita.alumno.user.email }}" type="text" readonly>
                    </div>
                {% elseif cita.asesor != null %}
                    <div class="form-group">
                        <label for="{{ 'asesor' ~ cita.id }}">Asesor</label>
                        <input id="{{'asesor' ~ cita.id }}" class="form-control" value="{{ cita.asesor.user.nombre ~ ' ' ~ cita.asesor.user.aPaterno ~ ' ' ~ cita.asesor.user.aMaterno }}" type="text" readonly>
                    </div>

                    <div class="form-group">
                        <label for="{{ 'correo' ~ cita.id }}">Correo del Asesor</label>
                        <input id="{{'correo' ~ cita.id }}" class="form-control" value="{{ cita.asesor.user.email }}" type="text" readonly>
                    </div>
                {% endif %}
                
                {% if cita.asesor == null %}
                <div class="form-group" id="disponible">
                    <h3 class="text-center" id="guide_horario_disponible">Horario Disponible</h3>

                    <div class="row text-center bg-dark text-white justify-content-center">
                        <div class="col-md-2 d-none d-md-block">
                            <div class="row border" style="height: 100px;">
                                <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                    <label>Hora</label>
                                </div>
                            </div>
                            <div class="row border" style="height: 28px;">
                                <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                    <label>8:00 AM</label>
                                </div>
                            </div>
                            <div class="row border" style="height: 28px;">
                                <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                    <label>9:00 AM</label>
                                </div>
                            </div>
                            <div class="row border" style="height: 28px;">
                                <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                    <label>10:00 AM</label>
                                </div>
                            </div>
                            <div class="row border" style="height: 28px;">
                                <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                    <label>11:00 AM</label>
                                </div>
                            </div>
                            <div class="row border" style="height: 28px;">
                                <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                    <label>12:00 PM</label>
                                </div>
                            </div>
                            <div class="row border" style="height: 28px;">
                                <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                    <label>1:00 PM</label>
                                </div>
                            </div>
                            <div class="row border" style="height: 28px;">
                                <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                    <label>2:00 PM</label>
                                </div>
                            </div>
                            <div class="row border" style="height: 28px;">
                                <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                    <label>3:00 PM</label>
                                </div>
                            </div>
                            <div class="row border" style="height: 28px;">
                                <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                    <label>4:00 PM</label>
                                </div>
                            </div>
                            <div class="row border" style="height: 28px;">
                                <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                    <label>5:00 PM</label>
                                </div>
                            </div>
                        </div>
                        {% if cita.horario|length > 0 %}
                            {% set dia = cita.horario[0].fecha|date('w') - 1 %}
                        {% else %}
                            {% set dia = 0 %}
                        {% endif %}

                        {% set i = 0 %}
                        {% for fecha in cita.horario %}
                            <div class="col-sm-3 col-xs-6 d-block d-md-none">
                                <div class="row border" style="height: 100px;">
                                    <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                        <label>Hora</label>
                                    </div>
                                </div>
                                <div class="row border" style="height: 28px;">
                                    <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                        <label>8:00 AM</label>
                                    </div>
                                </div>
                                <div class="row border" style="height: 28px;">
                                    <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                        <label>9:00 AM</label>
                                    </div>
                                </div>
                                <div class="row border" style="height: 28px;">
                                    <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                        <label>10:00 AM</label>
                                    </div>
                                </div>
                                <div class="row border" style="height: 28px;">
                                    <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                        <label>11:00 AM</label>
                                    </div>
                                </div>
                                <div class="row border" style="height: 28px;">
                                    <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                        <label>12:00 PM</label>
                                    </div>
                                </div>
                                <div class="row border" style="height: 28px;">
                                    <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                        <label>1:00 PM</label>
                                    </div>
                                </div>
                                <div class="row border" style="height: 28px;">
                                    <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                        <label>2:00 PM</label>
                                    </div>
                                </div>
                                <div class="row border" style="height: 28px;">
                                    <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                        <label>3:00 PM</label>
                                    </div>
                                </div>
                                <div class="row border" style="height: 28px;">
                                    <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                        <label>4:00 PM</label>
                                    </div>
                                </div>
                                <div class="row border" style="height: 28px;">
                                    <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                        <label>5:00 PM</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-9 col-xs-6">
                                <div class="row border" style="height: 100px;">
                                    <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="col-12">
                                                {{ dias[(dia + i) % 5] }}
                                                {{ fecha.fecha|date("d/m/Y") }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                {% set actual = 0 %}
                                {% for j in 0..9 %}

                                    {% if actual < fecha.horarios|length and fecha.horarios[actual].hora / 10000 - 8 == j %}
                                    <div class="row border" style="height: 28px;">
                                        <div id="{{ cita.id ~ '_' ~ fecha.id ~ '_' ~ fecha.horarios[actual].id }}" class="col-12 h-100 d-flex align-items-center justify-content-center bg-warning"
                                        {% if is_granted('ROLE_ASESOR') and cita.asesor == null %}
                                             onclick="seleccionar({{ cita.id }},{{ fecha.id }},{{ fecha.horarios[actual].id }})"{% endif %}>
                                    
                                        </div>
                                    </div>
                                    {% set actual = actual + 1 %}
                                    {% else %}
                                    <div class="row border" style="height: 28px;">
                                        <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                            {% set i = i + 1 %}
                        {% endfor %}
                        </div>
                    </div>

                    <label class="text-center">*Los recuadros amarillos representan una hora disponible</label>

                    {% else %}

                    <div id="fecha_cita" class="form-group">
                        <div class="row">
                            <div class="col-4 text-center">
                                Fecha de la asesoría
                            </div>
                            <div class="col-4 text-center">
                                <label for="{{ 'fecha' ~ cita.id }}">Día</label>
                                <input id="{{ 'fecha' ~ cita.id }}" class="form-control text-center" type="text" value="{{ cita.fecha|date('d/m/Y') }}" readonly>
                            </div>
                            <div class="col-4 text-center">
                                <label for="{{ 'hora' ~ cita.id }}">Hora</label>
                                <input id="{{ 'hora' ~ cita.id }}" class="form-control text-center" type="text" value="{{ cita.fecha|date('g') ~ ' ' ~ cita.fecha|date('A') }}" readonly>
                            </div>
                        </div>
                    </div>

                {% endif %}
            </div>
            <div class="modal-footer">
                {% if is_granted('ROLE_ASESOR') and cita.asesor == null %}
                    <button onclick="enviar()" id="aceptar_btn" type="button" class="btn btn-success">Aceptar</button>
                {% endif %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>