{% extends "base.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('resources/css/tabla.css') }}">
{% endblock %}

{% block body %}

{% if is_granted('ROLE_ALUMNO') %}
<div class="row text-center mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h1 id="guide_pendientes">Solicitudes Pendientes</h1>
      </div>
      <div class="card-body">
        {% if is_granted('ROLE_ALUMNO') %}
        <div class="row pb-2"><div class="col"><a id="guide_nueva" class="btn btn-primary float-right" href="{{path('citas_new')}}">Nueva</a></div></div>
        {% endif %}
        <table class="table table-bordered table-striped">
          <thead>
            <th class="col-5">Materia</th>
            <th class="col-5">Tema</th>
            <th class="col-1">Detalles</th>
            {% if is_granted('ROLE_ALUMNO') %}
            <th class="col-1">{{"Acción"}}</th>
            {% endif %}
          </thead>
          <tbody>    
            {% for cita in citas %}
            {% if cita.estado == 0 %}
            <tr>
              <td>{{ cita.materia }}</td>
              <td>{{ cita.tema }}</td>
              <td>
                {#<a class="btn btn-secondary" href="{{ path('solicitudes_detalles',{'id': cita.id }) }}">Ver</a>#}
                <button id="guide_detalles" class="btn btn-secondary" data-toggle="modal" data-target="{{'#detallesModal' ~ cita.id }}" data-aceptar="0">Ver</button>
              </td>
              {% if is_granted('ROLE_ALUMNO') %}
              <td>
                <button id="guide_eliminar" class="btn btn-danger" data-url="{{ path('citas_eliminar', { 'id': cita.id }) }}" data-toggle="modal" data-target="#eliminarModal">Eliminar</button>
              </td>
              {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if is_granted("ROLE_ALUMNO") %}
<div class="row text-center mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h1 id="guide_expiradas">Solicitudes expiradas</h1>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead>
            <th class="col-4">Materia</th>
            <th class="col-4">Tema</th>
            <th class="col-1">Detalles</th>
          </thead>
          <tbody>    
            {% for cita in citas %}
            {% if cita.estado == 3 %}
            <tr>
              <td>{{ cita.materia }}</td>
              <td>{{ cita.tema }}</td>
              <td>
                <button id="guide_detalles" class="btn btn-secondary" data-toggle="modal" data-target="{{'#detallesModal' ~ cita.id }}" data-aceptar="0">Ver</button>
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}
  {# Eliminar #}
  <div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Advertencia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="contenidoModal">
          {{ "¿Estás seguro de que quieres eliminar esta cita?" }}
        </div>
        <div class="modal-footer">
          <a id="eliminarbtn" class="btn btn-danger" href="">Eliminar</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>


{% for cita in citas %}
    {% include "/cita/detalles.html.twig" with {'cita': cita} %}
{% endfor %}
{% endblock %}

{% block guide %}
<li class="tlypageguide_right" data-tourtarget="#guide_pendientes">
  <div>
    Solicitudes que el alumno ha hecho y que aún no han sido aceptadas por un asesor.
  </div>
</li>
<li class="tlypageguide_left" data-tourtarget="#guide_nueva">
  <div>
    Al presionar este botón se mostrará un formulario que permite crear una nueva solicitud de asesoría.
  </div>
</li>
<li class="tlypageguide_left" data-tourtarget="#guide_detalles">
  <div>
    Muestra los detalles de la cita así como el horario disponible que el alumno seleccionó para la cita.
  </div>
</li>
<li class="tlypageguide_right" data-tourtarget="#guide_eliminar">
  <div>
    Esta opción permite eliminar la cita correspondiente a la fila.
  </div>
</li>

<li class="tlypageguide_right" data-tourtarget="#guide_expiradas">
  <div>
    Solicitudes que no fueron atendidas por un asesor y que no es posible que sean aceptadas por alguno.<br>
    Si cuentas con muchas solicitudes expiradas, te recomendamos contactarte con el administrador para que ponga a trabajar a los asesores.
  </div>
</li>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('resources/js/citas/lista.js') }}"></script>
<script type="text/javascript" src="{{ asset('resources/js/citas/detalles.js') }}"></script>
{% endblock %}