{% extends "base.html.twig" %}

{% form_theme form with ['form/fields.html.twig'] %}

{% set dias = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes"] %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/tabla.css') }}">
{% endblock %}
{% block body %}
<div class="row">
    <div class="card col-12">
        <div class="card-header">
            <a id="guide_regreso" class="btn btn-secondary float-left" href="{{ path('citas') }}"><i class="fas fa-arrow-left"></i></a>
            <h2 class="text-center">NUEVA SOLICITUD</h2>
        </div>

        <div class="card-body">
            {{ form_start(form) }}
            <div class="form-group" id="guide_materia">
                {{ form_row(form.materia, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group" id="guide_tema">
                {{ form_row(form.tema, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group" id="guide_cantidad">
                {{ form_row(form.cantidad, {'attr': {'class': 'form-control'}}) }}
            </div>

            <h3 id="guide_horario">Horario disponible</h3>

            
            {{ form_errors(form) }}
                

            <div class="row text-center bg-dark text-white">
                <div class="col-md-2 d-none d-md-block">
                    <div class="row border" style="height: 100px;">
                        <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                            <label>Hora</label>
                        </div>
                    </div>
                    <div class="row border" style="height: 28px;">
                        <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                            <label>8:00 AM</label>
                        </div>
                    </div>
                    <div class="row border" style="height: 28px;">
                        <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                            <label>9:00 AM</label>
                        </div>
                    </div>
                    <div class="row border" style="height: 28px;">
                        <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                            <label>10:00 AM</label>
                        </div>
                    </div>
                    <div class="row border" style="height: 28px;">
                        <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                            <label>11:00 AM</label>
                        </div>
                    </div>
                    <div class="row border" style="height: 28px;">
                        <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                            <label>12:00 PM</label>
                        </div>
                    </div>
                    <div class="row border" style="height: 28px;">
                        <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                            <label>1:00 PM</label>
                        </div>
                    </div>
                    <div class="row border" style="height: 28px;">
                        <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                            <label>2:00 PM</label>
                        </div>
                    </div>
                    <div class="row border" style="height: 28px;">
                        <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                            <label>3:00 PM</label>
                        </div>
                    </div>
                    <div class="row border" style="height: 28px;">
                        <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                            <label>4:00 PM</label>
                        </div>
                    </div>
                    <div class="row border" style="height: 28px;">
                        <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                            <label>5:00 PM</label>
                        </div>
                    </div>
                </div>
                {% if dia == 5 or dia == 6 %}{% set dia = 0 %}{% endif %}
                {% set i = 0 %}
                {% for fecha in form.horario %}
                    <div class="col-sm-3 col-xs-6 d-block d-md-none">
                        <div class="row border" style="height: 100px;">
                            <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                <label>Hora</label>
                            </div>
                        </div>
                        <div class="row border" style="height: 28px;">
                            <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                <label>8:00 AM</label>
                            </div>
                        </div>
                        <div class="row border" style="height: 28px;">
                            <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                <label>9:00 AM</label>
                            </div>
                        </div>
                        <div class="row border" style="height: 28px;">
                            <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                <label>10:00 AM</label>
                            </div>
                        </div>
                        <div class="row border" style="height: 28px;">
                            <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                <label>11:00 AM</label>
                            </div>
                        </div>
                        <div class="row border" style="height: 28px;">
                            <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                <label>12:00 PM</label>
                            </div>
                        </div>
                        <div class="row border" style="height: 28px;">
                            <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                <label>1:00 PM</label>
                            </div>
                        </div>
                        <div class="row border" style="height: 28px;">
                            <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                <label>2:00 PM</label>
                            </div>
                        </div>
                        <div class="row border" style="height: 28px;">
                            <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                <label>3:00 PM</label>
                            </div>
                        </div>
                        <div class="row border" style="height: 28px;">
                            <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                <label>4:00 PM</label>
                            </div>
                        </div>
                        <div class="row border" style="height: 28px;">
                            <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                <label>5:00 PM</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-9 col-xs-6">
                        <div class="row border" style="height: 100px;">
                            <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                <div class="row">
                                    <div class="col-12">
                                        {{ dias[(dia + i) % 5] }}
                                        {{ form_row(fecha.fecha, {'attr': {'readonly': true, 'style': 'align-center' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        {% for hora in fecha.horarios %}
                            <div class="row border" style="height: 28px;">
                                <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                                    {{ form_row(hora) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% set i = i + 1 %}
                {% endfor %}
            </div>
            
            {# form_row(form.horario) #}
            

           {# <h3 class="text-center" id="guide_horario">Horario disponible</h3>
            <h5 class="text-center">{{"(Haga click sobre algún cuadro para seleccionar)"}}</h5>
            
            <table class="table table-striped table-bordered table-dark text-center" id="horario"></table> #}
        </div>

        <button id="guide_enviar" class="btn btn-success" type="submit">Enviar</button>
        {{ form_end(form) }}

        <div class="card-footer text-center">
            <br>
        </div>
    </div>

    </div>
</div>
{% endblock %}

{% block guide %}
<li class="tlypageguide_left" data-tourtarget="#guide_regreso">
    <div>
    Regresa a la página de solicitudes pendietes y citas realizadas.
    </div>
</li>
<li class="tlypageguide_left" data-tourtarget="#guide_materia">
    <div>
    Materia correspondiente al tema para el cual se requiere la asesoría.
    </div>
</li>
<li class="tlypageguide_left" data-tourtarget="#guide_tema">
    <div>
    Tema para la cual se requiere la asesoría.
    </div>
</li>
<li class="tlypageguide_left" data-tourtarget="#guide_cantidad">
    <div>
    Cantidad de alumnos que van a recibir la asesoría.
    </div>
</li>
<li class="tlypageguide_left" data-tourtarget="#guide_horario">
    <div>
    Horario disponible en el que el alumno puede recibir la asesoría en un horario entre 8 AM y 5 PM.
    Una solicitud sólo dura una semana después de haber sido creada, por eso, únicamente se muestran los 5 días de la semana habiles siguientes, con sus fechas correspondientes a partir de hoy.
    Por ejemplo si hoy es miércoles 20 de junio, la solicitud puede existir hasta el martes 26 de junio.
    </div>
</li>
<li class="tlypageguide_top" data-tourtarget="#guide_enviar">
    <div>
    Envía la solicitud y la agrega a la lista de solicitudes pendientes en donde los asesores pueden aceptarla.
    </div>
</li>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('resources/js/citas/new.js') }}"></script>
{% endblock %}
