{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/tabla.css') }}">
{% endblock %}

{% block body %}
<div class="row text-center">
    <div class="card col">
        <div class="card-header">
            <h1 id="guide_titulo">SOLICITUDES</h1>
        </div>
        <div class="card-body">
            {#{% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPER_ADMIN') and is_granted('ROLE_USER') and not app.user.asesor %}
            <div class="row pb-2"><div class="col"><a class="btn btn-primary float-right" href="{{path('citas_new')}}">Nueva</a></div></div>{% endif %}#}
            <table class="table table-bordered table-striped">
                <thead>
                    <th class="col-3">Materia</th>
                    <th class="col-3">Tema</th>
                    <th class="col-3">Alumno</th>
                    <th class="col-1">Detalles</th>
                    {#{% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPER_ADMIN') and is_granted('ROLE_USER') and not app.user.asesor %}
                        <th class="col-1">{{"Acción"}}</th>
                    {% endif %} #}
                </thead>
                <tbody>    
                    {% for cita in citas %}
	                    <tr>
	                        <td>{{ cita.materia }}</td>
	                        <td>{{ cita.tema }}</td>
                            <td>{{ cita.alumno.user.nombre ~ ' ' ~ cita.alumno.user.aPaterno ~ ' ' ~ cita.alumno.user.aMaterno }}</td>
	                        <td>
                                {#<a class="btn btn-secondary" href="{{ path('solicitudes_detalles',{'id': cita.id }) }}">Ver</a>#}
                                <button id="guide_detalles" class="btn btn-secondary" data-toggle="modal" data-target="{{'#detallesModal' ~ cita.id }}" data-aceptar="1">Ver</button>
	                            {#<button class="btn btn-secondary" data-toggle="modal" data-target="#infoModal{{cita.id}}">Ver</button>#}
	                        </td>
	                        {# {% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPER_ADMIN') and is_granted('ROLE_USER') and not app.user.asesor %}
	                            <td>
	                                <button class="btn btn-danger" data-url="{{ path('citas_eliminar', { 'id': cita.id }) }}" data-toggle="modal" data-target="#eliminarModal">Eliminar</button>
	                            </td>
	                        {% endif %} #}
	                    </tr>


                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% for cita in citas %}
        {% include "/cita/detalles.html.twig" with {'cita': cita} %}
    {% endfor %}

	{# {% for cita in citas %}
	   
	    <div class="modal fade" id="infoModal{{cita.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Solicitud</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form action="{{ path('solicitudes') }}" method="post">
						<div class="modal-body">
							<div class="row">
								<div class="col-4">Tema</div>
								<div class="col text-left">{{ cita.tema }}</div>
							</div>
							<div class="row">
								<div class="col-4">Materia</div>
								<div class="col text-left">{{ cita.materia }}</div>
							</div>
							<div class="row">
								<div class="col-4">Cantidad</div>
								<div class="col text-left">{{ cita.cantidad }}</div>
							</div>
							<input type="hidden" value={{ cita.id }} name="cita_id"/>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
							<button type="submit" class="btn btn-primary">Aceptar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endfor %} #}
</div>

{# <div class="row">
    <div class="col-12">
      
    </div>
</div> #}
<form id="aceptar_form" action="{{ path('solicitudes_aceptar') }}" method="post">
    <input id="id_input" type="hidden" name="id" value="">
    <input id="fecha_input" type="hidden" name="fecha" value="">
    <input id="hora_input" type="hidden" name="hora" value="">
</form>
{% endblock %}


{% block guide %}
<li class="tlypageguide_right" data-tourtarget="#guide_titulo">
    <div>
    En esta página se muestran todas las solicitudes hechas por los alumnos que aún no han sido atendidas por algún asesor.
    </div>
</li>
<li class="tlypageguide_right" data-tourtarget="#guide_detalles">
    <div>
    Muestra los detalles de la cita así como el horario disponible que el alumno seleccionó para la cita.
    {% if is_granted("ROLE_ASESOR") %}
    Aquí, el asesor podrá seleccionar el día y la hora en que la asesoría se va a impartir.
    {% endif %}
    </div>
</li>
{% if is_granted("ROLE_ASESOR") %}
<li class="tlypageguide_left" data-tourtarget="#guide_horario_disponible">
    <div>
    En esta sección el asesor puede seleccionar el día y la hora en que la asesoría se va a impartir.
    </div>
</li>
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('resources/js/citas/lista.js') }}"></script>
    <script type="text/javascript">var isAlumno = "{{ is_granted('ROLE_ALUMNO') }}";</script>
    <script type="text/javascript" src="{{ asset('resources/js/citas/detalles.js') }}"></script>
{% endblock %}