{% trans_default_domain 'FOSUserBundle' %}
<body class="text-center">
    {% if error %}
        <div>{{ 'Usuario o contraseña invalidos' }}</div>
    {% endif %}

    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Asesorías FC</h1>
            <label for="username">{{ 'Correo' }}</label>
            <div class="input-group">
                <input style="text-align:right;" class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                <div class="input-group-append">
                    <span class="input-group-text">@uabc.edu.mx</span>
                </div>
            </div>

            <label for="password">{{ 'Contraseña' }}</label>
            <input style="text-align:center;" class="form-control" type="password" id="password" name="_password" required="required" />

            <div class="form-group">
                <a href="{{ path('fos_user_resetting_request') }}">¿Olvidaste tu contraseña?</a>
            </div>

        {# <div class="form-check">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'Recuerdame' }}</label>
        </div> #}

        <div class="form-group">
            <div class="row text-center">
                <div class="col-md-4 offset-md-2 col-sm-4 my-1">
                    <input type="submit" id="_submit" class="btn btn-success btn-block" name="_submit" value="{{ 'Iniciar Sesión' }}" />
                </div>
                <div class="col-md-4 col-sm-4 my-1">
                    <a id="guide_registrarse" class="btn btn-secondary" href="{{ path('fos_user_registration_register') }}">Registrarse</a>
                </div>
            </div>
        </div>
    </form>
</body>