{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12">
        {% include "@FOSUser/Security/login_content.html.twig" %}
    </div>
</div>
{% endblock fos_user_content %}

{% block guide %}
<li class="tlypageguide_left" data-tourtarget="#username">
    <div>
    Correo institucional de la UABC. Si no te has registrado presiona el botón que dice 'Registrarse'.
    </div>
</li>
<li class="tlypageguide_left" data-tourtarget="#password">
    <div>
    Contraseña correspondiente al sistema de Asesorías FC, es decir, la contraseña con la que te registraste en el sistema.
    </div>
</li>
<li class="tlypageguide_right" data-tourtarget="#guide_registrarse">
    <div>
    Página con el formulario de registro al sistema de Asesorías FC.
    </div>
</li>
<li class="tlypageguide_left" data-tourtarget="#_submit">
    <div>
    Si el correo y la contraseña coinciden con los registros en la base de datos, entonces se permitirá el acceso al usuario.
    </div>
</li>
{% endblock %}