{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="alert alert-secondary">
    Se ha enviado al correo proporcionado la liga para cambiar de contraseña. Probablemente el mensaje se encuentre en la bandeja de SPAM.<br>
    Si ese correo no está registrado en el sistema, entonces no encontrarás el mensaje. Te puedes registrar al sistema <a id="guide_registrarse" href="{{ path('fos_user_registration_register') }}">aquí</a>.
</div>

{% endblock %}