{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
Solicitud de cambio de contraseña
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}

Buen día, has solicitado un cambio de contraseña. Entra a la siguiente liga para cambiarla:
{{ confirmationUrl }}
{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}