{% trans_default_domain 'FOSUserBundle' %}

<h1 class="text-center">¿Olvidaste tu contraseña?</h1>

<div class="row my-5 text-center">
    <div class="col-8 offset-2">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form">

            <div class="form-group">
                <div class="row">
                    <div class="col-2 text-right">
                        <label for="username">Correo</label>
                    </div>
                    
                    <div class="col-10">
                        <div class="input-group">
                            <input class="form-control" type="text" id="username" name="username" required="required" />
                            <div class="input-group-append">
                                <span class="input-group-text">@uabc.edu.mx</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-4 offset-2 text-left">
                        <a id="guia_regresar" class="btn btn-secondary" href="{{ path('fos_user_security_login') }}">Regresar</a>
                    </div>
                    <div class="col-4 text-right">
                        <input id="enviar" class="btn btn-primary" type="submit" value="Enviar" />
                    </div>
                </div>
            </div>
                
        </form>
    </div>
</div>
