{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class="row">
    <div class="col-12">
        {% include "@FOSUser/Resetting/request_content.html.twig" %}
    </div>
</div>
{% endblock fos_user_content %}

{% block guide %}
<ul id="tlyPageGuide" data-tourtitle="Guía">
    <li class="tlypageguide_left" data-tourtarget="#username">
        <div>
        Correo con el que te registraste.
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget="#guia_regresar">
        <div>
        Redirige a la página de iniciar sesión.
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget="#enviar">
        <div>
        Se enviará una liga al correo escrito escrito en el recuadro, y después deberás entrar a ella para poder cambiar tu contraseña.
        </div>
    </li>
</ul>
{% endblock %}