{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Resetting/reset_content.html.twig" %}
{% endblock fos_user_content %}

{% block guide %}
<ul id="tlyPageGuide" data-tourtitle="Guía">
    <li class="tlypageguide_left" data-tourtarget="#fos_user_resetting_form_plainPassword_first">
        <div>
        Una contraseña que servirá para entrar al sistema.
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget="#fos_user_resetting_form_plainPassword_second">
        <div>
        Confirme la contraseña que escribió arriba.
        </div>
    </li>
    <li class="tlypageguide_left" data-tourtarget="#cambiar">
        <div>
        Guarda la nueva contraseña.
        </div>
    </li>
</ul>
{% endblock %}