{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-12 text-center">
        <h1>Cambiar contraseña</h1>
    </div>
</div>

<div class="row my-5">
    <div class="col-8 offset-2">
        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
        
            <div class="form-group">
                {{ form_row(form.plainPassword.first, {'label': 'Nueva contraseña', 'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.plainPassword.second, {'label': 'Repita la contraseña', 'attr': {'class': 'form-control'}}) }}
            </div>
            
            
            <div class="form-group">
                <input id="cambiar" class="btn btn-primary" type="submit" value="Cambiar" />
            </div>
        {{ form_end(form) }}
    </div>
</div>
