{% block subject %}Registro a Asesorías FC<br>{% endblock %}

{% block body_text %}
{% autoescape false %}

{% endautoescape %}
{% endblock %}

{% block body_html %}
{#
    You can of course render the html directly here.
    Including a template as done here allows keeping things DRY by using
    the template inheritance in it
#}
Hola, el administrador del sistema Asesorías FC te ha enviado una solicitud de registro.<br>

Para llenar la solicitud entra a la siguiente liga:<br> 
{{ url('register_admin', {'token': token}) }}<br>

Saludos.
{#{% include 'email/password_resetting.html.twig' %}#}
{% endblock %}
{% block extraguide %}{% endblock %}