{% block subject %}Registro a Asesorías FC{% endblock %}

{% block body_text %}
{% autoescape false %}

{% endautoescape %}
{% endblock %}

{% block body_html %}
{#
    You can of course render the html directly here.
    Including a template as done here allows keeping things DRY by using
    the template inheritance in it
#}
Hola {{ user.username }}, te has registrado en el sistema de Asesorías FC.<br>

Para confirmar tu correo entra a la siguiente liga:<br> 
{{ confirmationUrl }}<br>

Saludos.
{#{% include 'email/password_resetting.html.twig' %}#}
{% endblock %}
{% block extraguide %}{% endblock %}