.checkbox-label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
.checkbox-control {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

.bg-hithere{
    background-color: #027f45; 
}

.myGuide{
  background-color: #027f45;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;

  font-family: Arial;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;

  position:fixed;
  width:100px;
  top:100px;
  left:0px;

  transition: all 0.5s;

  z-index: 100;
}

.myGuide:hover{

  background: rgba(247,0,119,0.95);

  text-decoration: none;
  padding-right: 25px;
}

.myGuide span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.myGuide span:after {

  content: '\00bb';  /* CSS Entities. To use HTML Entities, use &#8594;*/

  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.myGuide:hover span:after {
  opacity: 1;
  left: 0;
}

/* footer */
.footer {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
  bottom: 0;
  position: fixed;
}