 /* The snackbar - position it at the bottom and in the middle of the screen */
.toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 200px; /* Set a default minimum width */
    max-width: 400px;
    margin-left: -100px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    margin: 10px;
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 0; /* Center the snackbar */
    top: 0; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.toast.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 30px; opacity: 0;}
    to {top: 0px; opacity: 1;}
}

@keyframes fadein {
    from {top: 30px; opacity: 0;}
    to {top: 0; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 0; opacity: 1;}
    to {top: 30px; opacity: 0;}
}

@keyframes fadeout {
    from {top: 0; opacity: 1;}
    to {top: 30px; opacity: 0;}
} 

html, body { overflow-x: hidden; }